.home_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.right_section_wrapper {
    margin-top: 68px;
    margin-left: 109px;
    margin-bottom: 88px;
    width: 100%;
}

.welcome_section_text {
    margin-bottom: 77px;
    font-size: 18px;
}

.chart_section_wrapper {
    display: flex;
    gap: 31px;
    width: 100%;
}

.chart_wrapper {
    width: 68%;
    height: 613px;
    background-color: black;
}

.chart_icon_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7%;
    width: 21%;
    height: 613px;
}

.welcome_section_title {
    font-size: 48px;
}

.red_word {
    color: red;
}