.home_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.right_section_wrapper {
    margin-top: 68px;
    margin-left: 109px;
    margin-bottom: 88px;
    width: 100%;
}

.welcome_section_text {
    margin-bottom: 77px;
    font-size: 18px;
}

.chart_section_wrapper {
    display: flex;
    gap: 31px;
    width: 100%;
}

.chart_wrapper {
    width: 68%;
    height: 613px;
}

.chart_icon_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 7%;
    width: 21%;
    height: 613px;
}

.welcome_section_title {
    font-size: 48px;
}

.red_word {
    color: red;
}

.main_chart {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    height: 320px;
    width: 835px;
}

.other_chart {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-top: 28px;
}

.barChartTitle {
    position: absolute;
    left: 32px;
    top: 24px;
    color: #20253A;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.lineChart_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    border-radius: 5px;
    background: #F00;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
    min-width: 258px;
    max-height: 253px;
    padding-bottom: 10px;
}

.lineChartTitle {
    position: absolute;
    width: 147px;
    top: 29px;
    left: 24px;
    color: #FFF;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    margin: 0;
    opacity: 0.6;
}

.radarChart_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    min-width: 258px;
    max-height: 263px;
    border-radius: 5px;
    background: #282D30;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.goalChart_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    min-width: 258px;
    max-height: 263px;
    border-radius: 5px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
}

.goalChartTitle {
    position: absolute;
    left: 30px;
    top: 24px;
    color: #20253A;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
    margin: 0;
}

.chartLabel {
    position: absolute;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 26px;
    color: black;
    top: 105px;
    left: 110px;
}

.chartText {
    position: absolute;
    font-family: "Roboto";
    font-size: 16px;
    color: #74798C;
    top: 140px;
    left: 108px;
    width: 57px;
    text-align: center;
}
